.footer-red{
    background-color: rgb(227,28,37);
    padding: 20px 0;
}
.footer-red-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.footer-red-left{
    display: flex;
}
.footer-red-left div h3{
    text-transform: uppercase;
    color: #fff;
}
.text-1{
    margin-left: 10px;
}
.text-1 p{
    font-size: 13px;
    color: #fff;
}
.footer-red-right{
    display: flex;
    align-items: center;
}
.footer-input input{
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    
}

.footer-black{
    background-color: #000;
    color: #fff;
    padding: 30px 0;
}
.footer-back-content{
 display: grid;
 grid-template-columns: 1.5fr 1fr 1fr 1fr;
 gap: 2rem;
}

.footer-back-content h3{
    position: relative;
    padding-bottom: 6px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer-back-content h3::before{
    content: '';
    position: absolute;
    background-color: rgb(227,28,37);
    width: 50px;
    height: 1px;
    bottom: 0;
}
.footer-contact{
    display: flex;
    align-items: center;
    background-color: #555;
    width: 60%;
    padding: 8px 10px;
    margin-top: 30px;
 
}
.footer-contact p:nth-child(1){
    font-size: 13px;
}
.footer-contact p:nth-child(2){
    font-size: 15px;
    font-weight: bolder;
}
.phone-icon{
    background-color: rgb(227,28,37);
    padding: 6px 10px;
    margin-left: 10px;
}
.icon-1{
    transform: rotate(180deg);
}
.footer-last img{
    width: 200px;
}
.footer-1 img{
  width: 200px;
}
.footer-1 p{
    font-size: 12px;
}
.footer-content ul li{
    list-style-type: square;
    font-size: 14px;
    line-height: 2;
    text-transform: capitalize;
    cursor: pointer;
    transition: .30s ease;
   
}
.footer-content ul li:hover{
    color: rgb(227,28,37);
}
.map-icon{
    display: flex;
}
.map-icon p{
    font-size: 12px;
    margin-left: 15px;
   
}
.footer-content ul li span{
    margin-left: 15px;

}
.author{
    border-top: 1px dotted #ccc;
    margin-top: 40px;
}
.author h3{
    text-align: center;
    padding-top: 10px;
    color: #ccc;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 10px;
}